---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import Separator from '../components/Separator.astro';
import SectionHero from '../components/home/SectionHero.astro';
import SectionNews from '../components/home/SectionNews.astro';
import SectionCourses from '../components/home/SectionCourses.astro';

// Variables
const title = "RT-HUB - Learning platform"
---

<Layout title={title}>

	<div class="section-container">
		<div class="section-wrapper">
			<SectionHero />
		</div><!-- / Wrapper -->
	</div>

	<main class="main">
		<SectionNews />
		<SectionCourses />

		<Separator />
	</main>

</Layout>

<style>

</style>
