---
// Components
import ArrowSmallRight from 'astro-heroicons/outline/ArrowSmallRight.astro';
import SectionHeader from '../SectionHeader.astro';
import Accordion from '../Accordion.vue';
---

<section class="section faqs-section dark-theme">
    <div class="section-container">
        <div class="section-wrapper">

			<SectionHeader
				title="<strong>FAQs</strong>"
				subtitle="Get the clarity you need to move forward with confidence."
			/>

            <div class="accordion-container mb-24 xl:max-w-[50rem] max-w-full mx-auto">
                <Accordion />
            </div>

            <SectionHeader
                title="Still have <strong>questions</strong>?"
                subtitle="We're here to help. Contact us directly, and our team will provide you with the personalised support you need."
            />

            <footer class="section-footer">
                <a class="secondary-button secondary-button-white" href="mailto:info@ut-hub.com?subject=Information request">
                    Contact us <ArrowSmallRight class="w-6 h-6" />
                </a><!-- / Button -->
            </footer><!-- / Footer -->

        </div>
     </div>
</section>