---
// Components
import SectionHeader from '../SectionHeader.astro';
import ArrowSmallRight from 'astro-heroicons/outline/ArrowSmallRight.astro';
---

<section class="section footer-cta-section dark-theme">
    <div class="section-container">

       <div class="section-wrapper">

            <SectionHeader
                title="<strong class='text-gradient'>Unlock Your Potential</strong>,<br>Transform Your Career"
                subtitle="Explore Real Time Hub: Your go-to platform for unlocking skills, boosting your career, and learning on your terms."
            />

            <footer class="section-footer">
                <a class="primary-button" href="#">
                    Get Started NOW! <ArrowSmallRight class="w-6 h-6" />
                </a>
            </footer>
       </div>

    </div>
</section>