---

---

<section class="section newsletter-section light-theme">
    <div class="section-container">

        <div class="section-wrapper">
            <div class="container p-24">
                <div class="column left-side lg:pr-16">
                    <header class="section-header text-left">
                        <h2><strong>Stay up to date</strong> with the latest<br> from <strong>RT-HUB</strong></h2>
                    </header>
                </div>
                <div class="column right-side lg:pl-16">
                    <p class="description mt-3 text-sm mb-6">
                        At RT-HUB, we are just getting started! Sign up today to stay informed about all of our future bill pay innovations.
                    </p>
                    <form action="#" class="">

                        <div class="mb-4">
                            <input class="input-text" placeholder="Enter your email" type="email" id="email" required="">
                        </div>

                        <div class="mb-6">
                            <button type="submit" class="primary-button">Subscribe</button>
                        </div>

                        <div class="small-text">
                            We care about the protection of your data. <a href="#" class="font-medium text-primary-600 dark:text-primary-500 hover:underline">Read our Privacy Policy</a>.
                        </div>

                    </form>
                </div>
            </div>
       </div>

    </div>
</section>