---
// Components
import MenuDesktop from '../components/MenuDesktop.astro';
import MenuMobile from '../components/MenuMobile.astro';
---
<footer class="section-footer dark-theme dark-theme-solid">
    <div class="max-w-[85rem] py-10 px-4 sm:px-6 lg:px-8 lg:pt-20 mx-auto">

     <!-- Grid -->
      <div class="footer-top pb-10 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-6 text-sm text-left">

        <!-- Col -->
        <div class="col-span-1">
            <h4 class="links-group">Company</h4>
            <div class="mt-3 grid space-y-3">
              <p><a class="link" href="/about-us">About us</a></p>
              <p><a class="link" href="/contact-us">Contact us</a></p>
              <p><a class="link" href="/help-and-support">Help and Support</a></p>
            </div>
          </div>
        <!-- End Col -->

        <!-- Col -->
        <div class="col-span-1">
          <h4 class="links-group">Courses</h4>
          <div class="mt-3 grid space-y-3">
            <p><a class="link" href="/courses">Browse all</a></p>
            <p><a class="link" href="/courses">Featured Courses</a></p>
          </div>
        </div>
        <!-- End Col -->

        <!-- Col -->
        <div class="col-span-1">
          <h4 class="links-group">Business</h4>
          <div class="mt-3 grid space-y-3">
            <p><a class="link" href="/studios">Studios Map</a></p>
          </div>
        </div>
        <!-- End Col -->

        <!-- Col -->
        <div class="col-span-1">
          <h4 class="links-group">Other</h4>
          <div class="mt-3 grid space-y-3">
            <p><a class="link" href="/events">Events</a></p>
            <p><a class="link" href="/events">News & Articles</a></p>
          </div>
        </div>
        <!-- End Col -->

        <!-- Col -->

        <div class="col-span-1">
          <h4 class="links-group">Legal</h4>
          <div class="mt-3 grid space-y-3">
            <p><a class="link" href="/legal-notice">Legal Notice</a></p>
            <p><a class="link" href="/privacy-policy">Privacy Policy</a></p>
            <p><a class="link" href="/cookies-policy">Cookies Policy</a></p>
          </div>
        </div>
        <!-- End Col -->


      </div>
      <!-- End Grid -->

      <div class="footer-bottom py-10 grid gap-y-2 sm:gap-y-0 sm:flex sm:justify-between sm:items-center">
        <div class="flex justify-between items-center">
            <img src="/images/rthub-logo-white.svg" alt="RT-HUB" width="100">
            <p class="pl-5 text-sm text-gray-400"> © 2023 Magic Fennec. All rights reserved.</p>
        </div>
        <!-- End Col -->

        <!-- Social Brands -->
        <div>
          <a class="icon-link" href="#">
            <img class="icon" src="/images/icons/icon-twitter.svg" alt="Twitter">
          </a>
          <a class="icon-link" href="#">
            <img class="icon" src="/images/icons/icon-youtube.svg" alt="Youtube">
          </a>
          <a class="icon-link" href="#">
            <img class="icon" src="/images/icons/icon-linkedin.svg" alt="Linkedin">
          </a>
          <a class="icon-link" href="#">
            <img class="icon" src="/images/icons/icon-pinterest.svg" alt="Pinterest">
          </a>
        </div>
        <!-- End Social Brands -->
      </div>
    </div>
  </footer>
