<div class="group-logos text-center my-20 flex justify-center items-center flex-wrap">
    <a href="https://uetc.mx/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoUEchoMono.png" alt="logo">
    </a>
    <a href="https://www.dwisest.com/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoDwisestMono.png" alt="logo">
    </a>
    <a href="https://incas-training.de/en/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoIncasMono.png" alt="logo">
    </a>
    <a href="https://www.rtdojo.com/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoRTDojoMono.png" alt="logo">
    </a>
    <a href="https://www.prometeo-lab.com/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoPrometeoLabMono.png" alt="logo">
    </a>
    <a href="https://objectif3d.com/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoObjectIF3DMono.png" alt="logo">
    </a>
    <a href="https://gameready.co.il/en/" class="inline-block" target="_blanc">
        <img src="/images/partners-mono/LogoGameReadyMono.png" alt="logo">
    </a>
</div>