---
// Components
import MenuLink from '../components/MenuLink.astro';
---
<MenuLink
    style="";
    url="/";
    id="home";
    name="Home";
/>
<MenuLink
    style="";
    url="courses";
    id="courses";
    name="Courses";
/>
<MenuLink
    style="";
    url="showcases";
    id="showcases";
    name="Showcases";
/>
<MenuLink
    style="";
    url="studios";
    id="studios";
    name="Studios Map";
/>
<MenuLink
    style="";
    url="news";
    id="news";
    name="News";
/>
<MenuLink
    style="";
    url="events";
    id="events";
    name="Events";
/>
<MenuLink
    style="";
    url="mailto:info@ut-hub.com?subject=Information request";
    id="contact";
    name="Contact us";
/>

<a
    class="outlined-button font-medium py-3 px-8 inline-flex justify-center items-center gap-2 rounded-full border"
    href="/admin">
    Sign in
</a>