---
// Accediendo al parámetro 'slug' de la URL.
const slug = Astro.params.slug;
---
<div class="social-links">
    <p class="text-sm mb-1"><strong>Share on:</strong></p>
    <a class="secondary-button text-white w-full my-2"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ urlencode(Request::url()) }}"
        target="_blank">
            <img class="icon" src="/images/icons/icon-linkedin-dark-theme.svg" alt="LinkedIn">
            Linkedin
    </a>
    <a class="secondary-button text-white w-full my-2"
        href="https://twitter.com/intent/tweet?text={{ urlencode($article->title) }}&url={{ urlencode(Request::url()) }}"
        target="_blank">
            <img class="icon" src="/images/icons/icon-twitter-dark-theme.svg" alt="Twitter">
            Twitter
    </a>
</div>