---
// Layout
import Layout from '../../layouts/Layout.astro';

// Components
import Separator from '../../components/Separator.astro';
import SectionHeader from '../../components/SectionHeader.astro';
import CardCourse from '../../components/CardCourse.astro';
import data from '../../data/events-data.json';

// Variables
const title = "RT-HUB - Learning platform"

// Getting the slug from URL
const slug = Astro.params.slug;

// Requsting data
const event = data.find((item) => item.slug === slug);
---

<Layout title={title}>
	<main class="main">

        <section class="section-course section-detail dark-theme">
            <div class="section-wrapper">
                <SectionHeader
                    title="Upcoming <strong>Events</strong> to Elevate Your Skills"
                    subtitle="Don't miss out on opportunities to learn, network, and grow"
                />
            </div>
        </section>
        
        <section class="news-section light-theme py-24">
            <div class="section-container news-section-container mb-24">
                <div class="article-grid grid grid-cols-1 lg:grid-cols-4 gap-12">

                    <div class="sidenav col-1 order-2 md:order-1 text-left lg:text-right">
                        <img src={`/images/events/${ event.logoUrl }`} alt="image" class="mb-12 w-full h-auto" />
                        <a class="primary-button w-full mt-2 mb-8" href="#" target="_blank" >
                            Visitit the Site <x-heroicon-o-arrow-right class="w-5 h-5" />
                        </a>
                        <div class="social-links">
                            <p class="text-sm mb-1"><strong>Share on:</strong></p>
                            <a class="secondary-button text-white w-full my-2"
                                href="https://www.linkedin.com/shareArticle?mini=true&url={{ urlencode(Request::url()) }}"
                                target="_blank">
                                    <img class="icon" src="/images/icons/icon-linkedin-dark-theme.svg" alt="LinkedIn">
                                    Linkedin
                            </a>
                            <a class="secondary-button text-white w-full my-2"
                                href="https://twitter.com/intent/tweet?text={{ urlencode($event->title) }}&url={{ urlencode(Request::url()) }}"
                                target="_blank">
                                    <img class="icon" src="/images/icons/icon-twitter-dark-theme.svg" alt="Twitter">
                                    Twitter
                            </a>
                        </div>
                    </div><!-- / Sidenav -->

                    <div class="case-content col-1 lg:col-span-3 order-1 md:order-2">
                        <header class="case-header mb-10">
                            <div class="mb-8">
                                <span class="badge bg-blue-100 bg-danger text-white">Upcomming</span>
                                <span class="badge bg-purple-200">Unreal Engine</span>
                                <span class="badge bg-blue-200">Developing</span>
                            </div>
                            <h2 class="text-[36px] font-semibold mb-4">{ event.title }</h2>
                            <p class="text-[22px] font-semibold text-slate-800 mb-2">{ event.company }</p>
                            <p class="text-[18px] font-light uppercase text-slate-800 mb-4 flex justify-between">
                                <span>{ event.city }, { event.country }</span>
                                <span>{ event.date }</span>
                            </p>
                        </header>
                        <div class="article-body">
                            <div class="article-text" class="">
                                <p class="mb-4">{ event.description }</p>
                                <p class="mb-4">{ event.description }</p>
                                <p class="mb-4">{ event.description }</p>
                            </div>
                        </div>
                    </div><!-- / Case content -->

                </div>
            </div>
        </section>


		<Separator />
	</main>

</Layout>

<style>

</style>
